<div class="register-container">

  <div class="register-card">

    <h2>Create Account</h2>

    <input [(ngModel)]="user.name" placeholder="Full Name">

    <input [(ngModel)]="user.email" placeholder="Email">

    <input type="password"
           [(ngModel)]="user.password"
           placeholder="Password">

    <select
      [(ngModel)]="user.role"
      name="role"
      class="form-control"
>

      <option value="Participant">
        Participant
      </option>

      <option value="Admin">
        Admin
      </option>

    </select>

    <button (click)="register()">
      Register
    </button>

  </div>

</div>