<div class="container mt-5 text-center">

    <h2>Participant Dashboard</h2>

    <a asp-controller="Event" asp-action="Index" class="btn btn-primary m-2">
        Explore Events
    </a>

    <a asp-controller="Participant" asp-action="MyEvents" class="btn btn-success m-2">
        My Events
    </a>

</div>