@model UpGradEMS.DAL.Models.SpeakerDetails

<div class="container mt-4">
    <h2>Add Speaker</h2>

    <form method="post">
        <input asp-for="SpeakerName" class="form-control mb-2" placeholder="Speaker Name" />

        <button class="btn btn-success">Add</button>
    </form>
</div>