@model List<UpGradEMS.DAL.Models.SpeakerDetails>

<h2>Speakers</h2>

<a asp-action="Create" class="btn btn-primary">Add Speaker</a>

<table class="table mt-3">
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.SpeakerName</td>
            <td>
                <a asp-action="Delete" asp-route-id="@s.SpeakerId" class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>