<div class="container mt-5">

  <h1 class="text-center mb-5">
    Participant Dashboard
  </h1>

  <div class="row">

    <!-- Explore Events -->

    <div class="col-md-6 mb-4">

      <div class="card shadow p-4 text-center">

        <h3>Explore Events</h3>

        <p>View all upcoming events</p>

        <a
          routerLink="/events"
          class="btn btn-primary"
        >
          View Events
        </a>

      </div>

    </div>

    <!-- Registered Events -->

    <div class="col-md-6 mb-4">

      <div class="card shadow p-4 text-center">

        <h3>Registered Events</h3>

        <p>View your joined events</p>

        <a
          routerLink="/registered-events"
          class="btn btn-success"
        >
          Open
        </a>

      </div>

    </div>

  </div>

</div>