<div class="container mt-5 text-center">

    <h2>Admin Dashboard</h2>

    <a asp-controller="Event" asp-action="Index" class="btn btn-primary m-2">
        Manage Events
    </a>

    <a asp-controller="Session" asp-action="Index" class="btn btn-warning m-2">
        Manage Sessions
    </a>

    <a asp-controller="Speaker" asp-action="Index" class="btn btn-success m-2">
        Manage Speakers
    </a>

</div>