<div class="container mt-5">

  <h1 class="text-center mb-5">
    Welcome Admin
  </h1>

  <div class="row">

    <div class="col-md-4 mb-4">

      <div class="card shadow p-4 text-center">

        <h3>Manage Events</h3>

        <p>Add, Edit and Delete Events</p>

        <a
          routerLink="/manage-events"
          class="btn btn-primary"
        >
          Open
        </a>

      </div>

    </div>

    <div class="col-md-4 mb-4">

      <div class="card shadow p-4 text-center">

        <h3>Manage Sessions</h3>

        <p>Create and Assign Sessions</p>

        <a
          routerLink="/manage-sessions"
          class="btn btn-success"
        >
          Open
        </a>

      </div>

    </div>

    <div class="col-md-4 mb-4">

      <div class="card shadow p-4 text-center">

        <h3>Manage Speakers</h3>

        <p>Add and Manage Speakers</p>

        <a
          routerLink="/manage-speakers"
          class="btn btn-dark"
        >
          Open
        </a>

      </div>

    </div>

  </div>

</div>